# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
build/
vehicle-web/zn-web


# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# 大文件
/src/assets/videos/1.mp4
/src/assets/videos/2.mp4
/src/assets/videos/3.mp4
/src/assets/videos/4.mp4
